<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, intitial-scale=1.0" >
    <meta http-eqyiv = "X-UA-Compatible" content="ie=edge">
    <title>Я поставлю ДВА!</title>
    {% load static %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">


</head>
<body style="background: red">
    {% block content  %}

    {% endblock %}
<img src="{%  static  'Vladimirpidr/Image/sendell.png' %}" class="rounded float-left">                                              <img src="{%  static  'Vladimirpidr/Image/sendell1.png' %}" class="rounded float-right">
</body>


<img src="{% static 'Vladimirpidr/Image/2.png' %}"  class="rounded mx-auto d-block">

</html>
