<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, intitial-scale=1.0" >
    <meta http-eqyiv = "X-UA-Compatible" content="ie=edge">
    <title>Вкусный ужин!</title>
    {%load static %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">


</head>
<body style="background: silver">
    {% block content  %}

    {% endblock %}
  <img src="{%  static  'UGIN/Image/12.png'  %}" class="rounded float-left">  <img src="{%  static  'UGIN/Image/13.png'  %}" class="rounded float-right">
</body>
</html>
